{% extends 'base.html.twig' %}

{% block body %}<body class="bg-light">{% endblock %}

{% block content %}
<main role="main">
    <h2>{{ headingTitle }}</h2>
    {% if items %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ columnAction }}</th>
                <th>{{ columnMethod }}</th>
                <th>{{ columnIp }}</th>
                <th>{{ columnCity }}</th>
                <th>{{ columnCountry }}</th>
                <th>{{ columnType }}</th>
                <th>{{ columnData }}</th>
                <th>{{ columnActions }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.action }}</td>
                <td>{{ item.method }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.country }}</td>
                <td>{{ item.type }}</td>
                <td><span title="{{ item.fullData }}">{{ item.data }}</span></td>
                <td>
                    {% for action in item.actions %}
                    <a href="{{ action.href }}" title="{{ action.title }}"><i class="fa {{ action.icon }}" aria-hidden="true"></i></a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-center"><span class="badge badge-warning">{{ textEmpty }}</span></p>
    {% endif %}
</main>
{% endblock %}